@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #080808;
  --background-hex:#eef1f1 ;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-hex: #f4f7f8;
    --background-hex:#0c0d0e ;
  }
}

body {
  color: var(--foreground-hex);
  background:  var(--background-hex);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
